<div class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add user</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form  autocomplete="off" [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="modal-body mx-3">

          <div class="col-md-12">
            <div class="form-group input-group">
                 <span class="input-group-append">
                    <div class="input-group-text bg-transparent"><i class="fa fa-user"></i></div>
                </span>
              <input placeholder="Name" class="form-control py-2 border-right-0 border" type="text" value="" formControlName="name">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group input-group">
                 <span class="input-group-append">
                    <div class="input-group-text bg-transparent"><i class="fa fa-briefcase"></i></div>
                </span>
              <input placeholder="Job" class="form-control py-2 border-right-0 border" type="text" value="" formControlName="job">
            </div>
          </div>

        </div>

        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-success">Add</button>
        </div>
      </form>

    </div>
  </div>
</div>
