/*.div-signin {*/
  /*height: 100%;*/
  /*display: -ms-flexbox;*/
  /*display: flex ;*/
  /*-ms-flex-align: center;*/
  /*align-items: center;*/
  /*padding-top: 40px;*/
  /*padding-bottom: 40px;*/
  /*background-color: #f5f5f5;*/
/*}*/

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group  {
  position: relative;
  margin-bottom: 1rem;

  label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  input::-webkit-input-placeholder {
    color: transparent;
  }
   label,input {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  input:-ms-input-placeholder {
    color: transparent;
  }
  input::-ms-input-placeholder {
    color: transparent;
  }
  input::-moz-placeholder {
    color: transparent;
  }
  input::placeholder {
    color: transparent;
  }
  input:not(:placeholder-shown){
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
  }
  input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
}

.error{
  color: red;
}
